<ion-nav-view view-title="Register" name="register-view">
  <ion-content scroll="false">
    <div class="list auth-list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="password2">
      </label>
      <button class="button button-block button-calm" ng-click="register(email, password, password2)">Register</button>
    </div>
    <h3>Already have an account? <a href="#/login">Login</a> </h3>
  </ion-content>
</ion-nav-view>
