<ion-nav-view view-title="Register" name="register-view">
  <ion-content class="drink-bg">
    <div class="title-area">
      <h1 class="lobster-title animated bounceInDown">Bar <br> Roulette</h1>
    </div>
    <div class="list auth-list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="password2">
      </label>
      <button class="button button-block button-assertive" ng-click="register(email, password, password2)">Register</button>
      <h3 class="text-center white-h3">Or</h3>
      <a href="#/login"><button class="button button-block button-assertive">Already have an account? Login</button></a>
    </div>
  </ion-content>
</ion-nav-view>
